#!/bin/bash

# alias ls='command ls -G';

# alias la='ls -la'
# alias lt='tre'
# alias lsd="ls -R | grep \":$\" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'"
# alias ..='cd .. && la'

alias cp='cp -i';
#alias mv='mv -i';
#alias rm='rm -i';
alias reload="exec $SHELL -l"

alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"

# alias enigma='node $DFL/node/enigma'
alias q='subl'
alias oa='subl  ~/Projects/dotfiles'
alias totools='cd ~/Projects/tools'
alias tochrome='cd ~/Library/Application\ Support/Google/Chrome/Default'
#qwecxza
alias blazeDev='ssh vitali@vitali.a.blazemeter.com -p 59345'